:root {
  --green: rgba(97, 228, 163, 1);
  --day-blue900: rgba(12, 17, 50, 1);
  --stem-green500: rgba(182, 240, 156, 1);
  --gray-gray1: rgba(243, 243, 243, 1);
  --body-s-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-s-semibold-font-weight: 600;
  --body-s-semibold-font-size: 12px;
  --body-s-semibold-letter-spacing: 0.15000000596046448px;
  --body-s-semibold-line-height: 18px;
  --body-s-semibold-font-style: normal;
  --corner-radius-4: 4px;
  --corner-radius-8: 8px;
  --corner-radius-80: 80px;
  --icon-size-16: 16px;
  --icon-size-20: 20px;
  --icon-size-24: 24px;
  --icon-size-28: 28px;
  --icon-size-32: 32px;
  --icon-size-40: 40px;
  --icon-size-48: 48px;
  --icon-size-80-duplicate: 80px;
  --variable-collection-black: rgba(19, 19, 19, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-orange: rgba(255, 165, 0, 1);
  --variable-collection-gray: rgba(112, 112, 112, 1);
  --variable-collection-yellow: rgba(255, 224, 130, 1);
  --variable-collection-mid-gray: rgba(125, 125, 125, 1);
  --variable-collection-red: rgba(242, 64, 68, 1);
  --variable-collection-light-orange: rgba(255, 247, 232, 1);
  --variable-collection-async-black: rgba(10, 10, 10, 1);
  --variable-collection-dark-orange: rgba(115, 74, 0, 1);
  --themes-black-100: rgba(28, 28, 28, 1);
  --themes-black-40: rgba(28, 28, 28, 0.4);
  --themes-black-10: rgba(28, 28, 28, 0.1);
  --themes-black-5: rgba(28, 28, 28, 0.05);
  --themes-primary-blue: rgba(227, 245, 255, 1);
  --themes-secondary-purple: rgba(198, 199, 248, 1);
  --spacing-4-duplicate: 4px;
  --spacing-8-duplicate: 8px;
  --show-text-show-text: initial;
  --show-icon-show-icon: initial;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-corner-radius-mode="standard">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-corner-radius-mode="standard"] {
  --corner-radius-4: 4px;
  --corner-radius-8: 8px;
  --corner-radius-80: 80px;
}

[data-corner-radius-mode="expanded-4"] {
  --corner-radius-4: 8px;
  --corner-radius-8: 12px;
  --corner-radius-80: 84px;
}

[data-corner-radius-mode="expanded-8"] {
  --corner-radius-4: 12px;
  --corner-radius-8: 16px;
  --corner-radius-80: 88px;
}

[data-corner-radius-mode="condensed-4"] {
  --corner-radius-4: 0px;
  --corner-radius-8: 4px;
  --corner-radius-80: 76px;
}

[data-icon-size-mode="standard"] {
  --icon-size-16: 16px;
  --icon-size-20: 20px;
  --icon-size-24: 24px;
  --icon-size-28: 28px;
  --icon-size-32: 32px;
  --icon-size-40: 40px;
  --icon-size-48: 48px;
  --icon-size-80-duplicate: 80px;
}

[data-icon-size-mode="expanded-4"] {
  --icon-size-16: 20px;
  --icon-size-20: 24px;
  --icon-size-24: 28px;
  --icon-size-28: 32px;
  --icon-size-32: 36px;
  --icon-size-40: 44px;
  --icon-size-48: 52px;
  --icon-size-80-duplicate: 84px;
}

[data-icon-size-mode="expanded-8"] {
  --icon-size-16: 24px;
  --icon-size-20: 28px;
  --icon-size-24: 32px;
  --icon-size-28: 36px;
  --icon-size-32: 40px;
  --icon-size-40: 48px;
  --icon-size-48: 56px;
  --icon-size-80-duplicate: 88px;
}

[data-icon-size-mode="condensed-4"] {
  --icon-size-16: 12px;
  --icon-size-20: 16px;
  --icon-size-24: 20px;
  --icon-size-28: 24px;
  --icon-size-32: 28px;
  --icon-size-40: 36px;
  --icon-size-48: 44px;
  --icon-size-80-duplicate: 76px;
}

[data-themes-mode="pastel-light"] {
  --themes-black-100: rgba(28, 28, 28, 1);
  --themes-black-40: rgba(28, 28, 28, 0.4);
  --themes-black-10: rgba(28, 28, 28, 0.1);
  --themes-black-5: rgba(28, 28, 28, 0.05);
  --themes-secondary-purple: rgba(198, 199, 248, 1);
}

[data-themes-mode="pastel-dark"] {
  --themes-black-100: rgba(255, 255, 255, 1);
  --themes-black-40: rgba(255, 255, 255, 0.4);
  --themes-black-10: rgba(255, 255, 255, 0.1);
  --themes-black-5: rgba(255, 255, 255, 0.1);
  --themes-secondary-purple: rgba(198, 199, 248, 1);
}

[data-themes-mode="bright-light"] {
  --themes-black-100: rgba(46, 52, 62, 1);
  --themes-black-40: rgba(46, 52, 62, 0.4);
  --themes-black-10: rgba(46, 52, 62, 0.1);
  --themes-black-5: rgba(46, 52, 62, 0.05);
  --themes-secondary-purple: rgba(175, 82, 222, 1);
}

[data-themes-mode="bright-dark"] {
  --themes-black-100: rgba(255, 255, 255, 1);
  --themes-black-40: rgba(255, 255, 255, 0.4);
  --themes-black-10: rgba(255, 255, 255, 0.1);
  --themes-black-5: rgba(255, 255, 255, 0.1);
  --themes-secondary-purple: rgba(175, 82, 222, 1);
}

[data-spacing-mode="standard"] {
  --spacing-4-duplicate: 4px;
  --spacing-8-duplicate: 8px;
}

[data-spacing-mode="expanded-4"] {
  --spacing-4-duplicate: 8px;
  --spacing-8-duplicate: 12px;
}

[data-spacing-mode="expanded-8"] {
  --spacing-4-duplicate: 12px;
  --spacing-8-duplicate: 16px;
}

[data-spacing-mode="condensed-4"] {
  --spacing-4-duplicate: 0px;
  --spacing-8-duplicate: 4px;
}

[data-show-text-mode="true"] {
  --show-text-show-text: initial;
}

[data-show-text-mode="false"] {
  --show-text-show-text: none;
}

[data-show-icon-mode="true"] {
  --show-icon-show-icon: initial;
}

[data-show-icon-mode="false"] {
  --show-icon-show-icon: none;
}
