@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #030303;
    color: #cbd1cc;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 15px 0;
}


        #logo {
            width: 50px; /* Allow the logo to adjust its width */
            height: 50px; /* Set a fixed height for the logo */
            margin-right: auto;
            margin-left: 6px
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        li {
            color: white; /* Set the color of the text to white */
            font-size: 16px;
        }

 .divider {
            border-bottom: 1px solid #0E0E11; /* Dark grey color for the divider */
            margin: 10px 0; /* Adjust the margin to control the spacing around the divider */
        }

h1 {
    font-size: 62px;
    margin: 0;
    padding-top: 70px;
    font-weight: medium;
}

h2 {
    color: #C1C6D2; /* Bright royal blue */
    font-size: 64px;
    font-weight: medium; /* Lighter font weight */
    letter-spacing: -0.04em;
    padding-top: 20px;
}

p {
    font-size: 14px; /* Adjust the font size for paragraphs */
    line-height: 1.5; /* Set the line height for better readability */
    margin: 10px 0; /* Add margin to separate paragraphs */
}

.image-border {
    width: 785px;
    padding: 10px; /* Decreased padding */
    border-radius: 12px;
    border: 1px solid #0E0E11;
    margin-bottom: 18px; /* Decreased margin */
    box-sizing: border-box;
    display: inline-block;
    background-color: #050506;
}

.border-image {
            width: 100%;
            height: auto;
            margin-top: 4px;
        }


.hero-section {
    max-width: 1440px; /* Adjust the value based on your design preferences */
    margin: 0 auto; /* Center the container */
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    background-color: rgba(5, 4, 5, 0.6);
    padding: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: rgba(5, 4, 5, 0.7);
    transition: background-color 0.3s ease;
}

.navigation-text {
    font-size: 13px;
    font-family: 'Inter', sans-serif; /* Ensure Inter font is available */
    font-weight: 500; /* Medium */
    margin-right: 28px;
    color: #C1C6D2;
    text-decoration: none; /* Remove underline */
}


form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
    max-width: 300px;
    margin: 0 auto;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%; /* Make the input take the full width of its container */
}


.feature-box {
    width: 285px;
    padding: 10px; /* Decreased padding */
    border-radius: 12px;
    border: 1px solid #0E0E11;
    margin-bottom: 18px; /* Decreased margin */
    box-sizing: border-box;
    display: inline-block;
    background-color: #050506;
}


        .feature-text {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: regular;
        }

        .feature-image {
            width: 100%;
            height: auto;
            margin-top: 4px;
        }


.special-paragraph {
    font-size: 16px;
    font-weight: lighter;
    padding-top: -10px;
    color: #a9aaab; /* Set a specific color */
    /* Add any other styles you want for special paragraphs */
}

.container {
  width: 1440px;
  height: 350px;
  padding: 93px 60px 60px;
  background: rgba(6, 5, 7, 0.80);
  box-shadow: 0px 0.5px 0px rgba(255, 255, 255, 0.50) inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo-container {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 36.45px rgba(89, 29, 221, 0.75);
  justify-content: center;
    margin-right: auto;
  align-items: center;
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
    margin-right: auto;
}

.content-container {
  align-self: stretch;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: #ECECEC;
  font-size: 28px;
  font-family: Inter;
  font-weight: 400;
  line-height: 41.60px;
  word-wrap: break-word;
}

.description {
  width: 971px;
  color: #ECECEC;
  font-size: 23px;
  font-family: Inter;
  font-weight: 300;
  line-height: 34.50px;
  word-wrap: break-word;
}

.additional-content {
  align-self: stretch;
  padding-top: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}


.design-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.design-card {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.design-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.design-info {
    padding: 10px;
    text-align: center;
    background: linear-gradient(45deg, #FFB6C1, #87CEEB);
    -webkit-background-clip: text;
    color: transparent;
}

.design-info p {
    font-size: 11px;
    margin: 0;
}

.single-line-text {
    white-space: nowrap; /* Prevent line breaks */
}

.single-line-text ul {
    list-style: none; /* Remove default list styles */
    padding: 5px; /* Remove default padding */
    white-space: nowrap; /* Prevent line breaks within the list */
}

.single-line-text li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Adjust margin between list items */
}

/* Hide the scrollbar for all elements */
body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Hide the scrollbar for webkit browsers */
body::-webkit-scrollbar {
    display: none;
}


.footer {
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 50px;
    border-top: 0.3px dotted #18181B; /* Dotted line styling */
    font-size: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 2px solid #4CAF50; /* Green border */
  border-radius: 15px; /* Rounded corners */
  background-color: #112EB2; /* Green background */
  background-image: linear-gradient(to bottom right, #4CAF50, #2E8B57); /* Gradient */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Text shadow */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
  transition: all 0.3s ease; /* Smooth transition */
margin-bottom: 20px;
}

/* Hover effect */
.button:hover {
  background-color: #3c3c41; /* Darker green */
  border-color: #0a2a80; /* Darker green border */
}



@media only screen and (max-width: 600px) {
    body {
        margin: 6px; /* Adjust margin for better readability on small screens */
    }

    header {
    background-color: rgba(5, 4, 5, 0.7); /* Use rgba for transparency, adjust the last value (0.9) to control the opacity */
    padding: 8px; /* Add padding to create space around the logo */
    color: #ffffff; /* Set text color to contrast with the background */
    display: flex; /* Use flexbox for layout control */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    position: fixed; /* Fix the header's position */
    top: 0; /* Position the header at the top of the viewport */
    width: 100%; /* Make the header span the entire width of the viewport */
    z-index: 1000; /* Ensure the header stays above other content */
    transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
}

header.scrolled {
    background-color: rgba(5, 4, 5, 0.7); /* Adjust the transparency and color as needed */
    transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
}
    .navigation-text {
        margin-right: 28px; /* Reset any previous left margin */
        display: inline-block; /* Ensure the text appears on a single line */
    }
    
    .feature-box {
                border: 1px solid #0E0E11;
                display: block; /* On mobile, stack feature boxes */
                width: 100%; /* Take up full width on mobile */
                margin-bottom: 12px;
                background-color: #050506;
            }

     #logo {
        height: 50px; /* Reduce the height of the logo for better fit on small screens */
        margin-right: auto; /* Align the logo to the left */
        margin-left: 5px; /* Add some left margin for spacing */
    }

    .hero-section img {
        width: 100%; /* Make the hero image fill the width of the screen on small screens */
        padding-top: 10px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 55px; /* Adjust the font size for better readability on small screens */
        padding-top: 60px;
    }

    h2 {
    color: #C1C6D2; /* Bright royal blue */
    font-size: 35px;
    padding-top: 50px;
    font-weight: medium; /* Lighter font weight */
    letter-spacing: -0.04em;
}

    .pattern-container {
        padding: 10px; /* Add padding to the pattern container for better spacing on small screens */
    }

    .design-card {
        width: calc(100% - 20px); /* Make the design cards full width with some margin on small screens */
        margin: 10px 0; /* Adjust the margin between design cards on small screens */
    }

    .footer {
    text-align: center;
    padding: 10px;
    color: white;
    border-top: 0.5px dotted #18181B; /* Dotted line styling */
    font-size: 10px;
}
